################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/mobile_gms/FileContentIndex/357e8d19-d8fc-46d9-83d2-9bc4198e61bd.vsidx
